<div style="text-align:center">
  <canvas #myCanvas style="background: greenyellow; background-image: url('https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/F_WATER_10B.jpg?crop=0,259,4621,2541&wid=4000&hei=2200&scl=1.15525'); background-repeat: no-repeat; background-size: 1400px 640px; border: solid tan">Your
    browser does not support the HTML5 canvas tag.</canvas>
</div>

<!-- <table>
  <tr>
    <td>Score: {{basket.score}}</td>
    <td>Missed: {{eggMissed}}</td>
    <td>Level: {{level}}</td>
  </tr>
</table> -->

<!-- Images -->
<img #gunImg width="100" height="100"
src="assets/img/balloonGame/guns-clipart-toy-gun-4.png" alt="snake" [hidden]='true'>

<img #bulletImg width="100" height="100"
src="assets/img/balloonGame/bulletLeft.png" alt="snake" [hidden]='true'>

<img #darkRedBalloonImg width="100" height="100"
src="assets/img/balloonGame/clipart-balloons-clipart-red-balloon-5.png" alt="snake" [hidden]='true'>

<img #redBalloonImg width="100" height="100"
src="assets/img/balloonGame/clipart-balloon-clipart-red-balloon-2.png" alt="snake" [hidden]='true'>

<img #pinkBalloonImg width="100" height="100"
src="assets/img/balloonGame/clipart-pink-balloons-2.png" alt="snake" [hidden]='true'>

<img #blueBalloonImg width="100" height="100"
src="assets/img/balloonGame/blue-birthday-balloons-clipart-6.png" alt="snake" [hidden]='true'>

<img #darkGreenBalloonImg width="100" height="100"
src="assets/img/balloonGame/green-balloon-clipart-3.png" alt="snake" [hidden]='true'>

<img #greenBalloonImg width="100" height="100"
src="assets/img/balloonGame/green-balloon-clipart-6.png" alt="snake" [hidden]='true'>

<img #lightGreenBalloonImg width="100" height="100"
src="assets/img/balloonGame/green-balloons-clipart.png" alt="snake" [hidden]='true'>

<img #goldenBalloonImg width="100" height="100"
src="assets/img/balloonGame/gold-balloons-clipart-3.png" alt="snake" [hidden]='true'>

<img #heartBalloonImg width="100" height="100"
src="assets/img/balloonGame/heart-balloons-clipart-6.png" alt="snake" [hidden]='true'>

<!-- Audios -->
<audio #bulletAudio>
  <source src='/assets/sound/balloonGame/Ricochet Of A Bullet-SoundBible.com-377161548.mp3' type="audio/mp3">
</audio>

<audio #burstAudio>
  <source src='/assets/sound/balloonGame/Sword Swing-SoundBible.com-639083727.mp3' type="audio/mp3">
</audio>

<audio #eggCatchAudio>
  <source src='/assets/sound/chickenGame/spin_jump-Brandino480-2020916281.mp3' type="audio/mp3">
</audio>
